name: Build & Push Docker Image to GHCR

on:
    push:
        branches: [main]

permissions:
    contents: read
    packages: write

jobs:
    docker:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v5

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3

            - name: Login to GHCR
              uses: docker/login-action@v3
              with:
                registry: ghcr.io
                username: ${{ github.actor }}
                password: ${{ secrets.GITHUB_TOKEN}}
            
            - name: Build & push Main image
              uses: docker/build-push-action@v6
              with:
                context: .
                file: ./Dockerfile
                push: true
                tags: ghcr.io/riteshbhoskar/mediso:latest

            - name: Build & push WSS Server image
              uses: docker/build-push-action@v6
              with:
                context: ./wss-server
                file: ./wss-server/Dockerfile
                push: true
                tags: ghcr.io/riteshbhoskar/mediso-wss-server:latest
